!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Call API - HOME'S API Sample Client
  %body
    %table
      -if api_error
        %tr
          %th error:
          %td
            = api_error.to_s
